:root {
--color-primary: #1E467D;
--color-secondary: #3E8A83;
--color-tertiary: #FF6400;
--color-gray: #646464;
--color-light-gray: #A5A5A5;
--color-black: #000000;
--color-white: #ffffff;

}

//$link-color: